* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0rem;
  margin: 0rem;
  font-variant: unicase;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: black;
}

#weatherApp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#weatherApp-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #f1f1f1;
  border-radius: 0.7rem;
  box-shadow: 0px 0px 0.8px rgba(0, 0, 0, 0.007),
    0px 0px 1.8px rgba(0, 0, 0, 0.01), 0px 0px 3px rgba(0, 0, 0, 0.012),
    0px 0px 4.6px rgba(0, 0, 0, 0.014), 0px 0px 6.8px rgba(0, 0, 0, 0.016),
    0px 0px 10.1px rgba(0, 0, 0, 0.018), 0px 0px 15.1px rgba(0, 0, 0, 0.02),
    0px 0px 24px rgba(0, 0, 0, 0.023), 0px 0px 45px rgba(0, 0, 0, 0.03);
  width: 80rem;
  height: 40rem;
  overflow: hidden;
}

.weatherAppLeftBox {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: space-evenly;
  width: 23rem;
  height: 100%;
  padding: 3rem;
  border-radius: 0.7rem 0rem 0rem 0.7rem;
}

.weatherAppRightBox {
  display: flex;
  flex-direction: column;
  width: 57rem;
  height: 100%;
  padding: 3rem;
  border-radius: 0rem 0.7rem 0.7rem 0rem;
}

/* ------------------------------------------------------------------------------------- */

/* Search-Div */
.search-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 2.6rem;
}

.search-div input {
  color: #000000;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #8080804f;
}

input[placeholder] {
  font-size: 1rem;
  letter-spacing: 0.01rem;
  padding-left: 2.5rem;
}

.search-div i {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  border: none;
  border-radius: 0rem 0.7rem 0.7rem 0rem;
  width: 2.6rem;
  height: 2.6rem;
  cursor: pointer;
}

/* Temp-Div */
.weatherImageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15rem;
  overflow: hidden;
}

.weatherImageDiv img {
  width: 15rem;
  height: 15rem;
}

.temperatureDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
}

.temperatureDiv span {
  font-size: 5.5rem;
}

.currentDateDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.4rem;
}

.currentDateDiv span {
  font-size: 1.4rem;
}

/* ------------------------------------------------------------------------------------- */

.forecastNav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  height: 2.5rem;
}

.clearSkyLogo {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem !important;
  font-variant: petite-caps;
}

.clearSkyLogo i {
  color: #4b4b4b;
}

.forecastNav span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  width: fit-content;
  height: 2.2rem;
  padding: 0.5rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

/* Forecast-Div */
.forecastDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 8rem;
  margin-top: 3rem;
  overflow-x: scroll;
}

.forecastDiv::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.forecastDiv-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 0.7rem;
  min-width: 6.7rem;
  height: 100%;
  margin-right: 1rem;
}

.forecastDay {
  font-size: 0.9rem;
}

.forecastDiv-items img {
  width: 3rem;
  height: fit-content;
}

.forecastTemperature {
  font-size: 0.9rem;
}

.highlightsNav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  margin-top: 3rem;
}

.highlightsNav span {
  font-size: 1.2rem;
  font-weight: 600;
}

.highlightsDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 12rem;
  margin-top: 3rem;
  overflow-x: auto;
}

.highlightsDiv::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.highlightsDiv-Items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  background-color: white;
  border-radius: 0.7rem;
  min-width: 15.5rem;
  height: 100%;
  padding: 1.5rem;
  margin-right: 1rem;
}

.sunrise_sunsetDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.sunrise_sunsetDiv i {
  font-size: 1.8rem;
  color: #4b4b4b;
}

.sunrise_sunsetDiv span {
  padding-left: 1.2rem;
  font-size: 1.2rem;
}

.levelIcon {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.top {
  width: 100%;
  font-size: 1.1rem;
  color: #aeaeae;
}

.middle {
  position: relative;
  font-size: 2.5rem;
  width: 100%;
  margin: 1rem 0rem;
}

.bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 2rem;
  font-size: 1rem;
}

.bottom i {
  color: #4b4b4b;
  font-size: 1.3rem;
  text-align: center;
  transition: all 0.5s;
}

/* Add User Submit Successfully PopUp Section*/
#popUp {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: white;
  border: none;
  border-radius: 0.7rem;
  box-shadow: 0 0 0.8px rgba(0, 0, 0, 0.007), 0 0 1.8px rgba(0, 0, 0, 0.01),
    0 0 3px rgba(0, 0, 0, 0.012), 0 0 4.6px rgba(0, 0, 0, 0.014),
    0 0 6.8px rgba(0, 0, 0, 0.016), 0 0 10.1px rgba(0, 0, 0, 0.018),
    0 0 15.1px rgba(0, 0, 0, 0.02), 0 0 24px rgba(0, 0, 0, 0.023),
    0 0 45px rgba(0, 0, 0, 0.03);
  position: fixed;
  width: 500px;
  height: 250px;
}

#popUp h1 {
  text-align: center;
  font-size: 1.6rem;
}

#popUp img {
  width: 4rem;
  height: 4rem;
}

.popUpBtn-div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 2.5rem;
}

#popUpBtn {
  font-size: 0.88rem;
  width: fit-content;
  height: 100%;
  background: black;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 0rem 3rem;
  border-radius: 2rem;
}

/* Media Query */
@media (max-width: 600px) {
  body {
    display: unset;
    width: unset;
    height: unset;
  }

  #weatherApp-box {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0rem 1.25rem;
    border-radius: 0rem;
  }

  .weatherAppLeftBox {
    border-radius: 0px;
    width: 100%;
    margin-top: 5rem;
    border-radius: 0.7rem;
    padding: 1.5rem 2rem;
  }

  .weatherAppRightBox {
    width: 100%;
    padding: 2rem 0rem;
  }

  .forecastDiv {
    margin-top: 2rem;
  }

  .highlightsNav {
    margin-top: 2rem;
  }

  .highlightsDiv {
    margin-top: 2rem;
  }

  .clearSkyLogo {
    position: unset;
    font-size: 1.5rem !important;
    font-weight: 600;
  }

  #popUp {
    top: 30%;
    width: 350px;
    height: 250px;
  }
}
