/* Animation work */

.animationBox {
  opacity: 0;
  transform: translateX(15rem);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animationBox.animate {
  opacity: 1;
  transform: translateX(0);
}

.weatherIconAnimationBox {
  opacity: 0;
  transform: translateY(5rem);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.weatherIconAnimationBox.animateIcon {
  opacity: 1;
  transform: translateY(0);
}

/* StartupProfile.css */
.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0 0 0 / 40%);
  position: fixed;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  z-index: 2;
}

.modal {
  background: white;
  padding: 1.5rem;
  border-radius: 0.7rem;
  width: 25rem;
  height: 13.5rem;
  text-align: center;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0rem;
}

.modal-header svg {
  width: 5rem;
  height: 5rem;
}

.modal-body {
  margin-top: 1rem;
}

.modal-body span {
  color: black;
  font-size: 14px;
  font-weight: 500;
}
